exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(rlang,"%||%")
importFrom(rlang,"!!!")
importFrom(rlang,"!!")
importFrom(rlang,UQ)
importFrom(rlang,UQS)
importFrom(rlang,sym)
importFrom(rlang,syms)
#import(RGtk2)
import(dplyr)
import(sqldf)
import(stringr)
import(tidyr)
import(data.table)
